* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    min-width: 100vw;
}

.header {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 clamp(20px, 12.5vw, 240px);
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    max-width: 240px;
}

.main-nav {
    display: flex;
    gap: 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-link {
    text-decoration: none;
    color: #666;
    font-size: 15px;
    font-weight: 500;
    transition: color 0.3s;
    padding: 10px 15px;
}

.nav-link:hover {
    color: #000;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 12px;
}

.btn-primary {
    display: inline-block;
    background-color: #111;
    color: white;
    width: 122px;
    transition: background-color 0.2s, transform 0.1s;
}

.btn-primary:hover {
    background-color: #333;
    transform: translateY(-1px);
}

.btn-secondary {
    background: transparent;
    color: #333;
    width: 80px;

}

.btn {
    height: 40px;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
    border: none;
    border-radius: 999px;
}


.hero-section {
    padding: 2rem;
    text-align: center;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


@media (max-width: 768px) {
    .main-nav {
        display: none;
    }
}